/*************************************************************/
/* OSPlus - Open Source version                              */
/* Copyright (c) Owen Rudge 2000-2012. All Rights Reserved.  */
/*************************************************************/
/* OSPlus Text Editor - Standalone                           */
/* OSPEDIT.EXE                                               */
/*************************************************************/
/* Resource file for Win32                                   */
/*************************************************************/

/* This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA. */

#define RES_INFO_ONLY

#include "ospver.h"

#if defined(__MSVC__) || defined(__MINGW32__)
   #include <windows.h>
#endif

1 VERSIONINFO 
FILEVERSION OSP_TXT_MAJOR_VERSION, OSP_TXT_MINOR_VERSION, OSP_TXT_REVISION_VERSION, 0
PRODUCTVERSION OSP_MAJOR_VERSION, OSP_MINOR_VERSION, OSP_TXT_REVISION_VERSION, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Owen Rudge\000\000"
   VALUE "FileDescription", "OSPlus Text Editor\000"
   VALUE "FileVersion", OSP_TXT_VERSION_STR "\000\000"
   VALUE "InternalName", "OSPEDIT\000"
   VALUE "LegalCopyright", "Copyright © Owen Rudge 2000-2012\000\000"
   VALUE "OriginalFilename", "OSPEDIT.EXE\000"
   VALUE "ProductName", "OSPlus\000"
   VALUE "ProductVersion", OSP_VERSION_STR "\000\000"
   VALUE "Build Date", OSP_TXT_BUILD_DATE "\000\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252
 }
}

