#define RES_INFO_ONLY

#include "ospver.h"

#if defined(__MSVC__) || defined(__MINGW32__)
   #include <windows.h>
#endif

1 VERSIONINFO 
FILEVERSION 2, 1, 0, 0
PRODUCTVERSION OSP_MAJOR_VERSION, OSP_MINOR_VERSION, 0, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Owen Rudge\000\000"
   VALUE "FileDescription", "Write to Text converter\000"
   VALUE "FileVersion", "2.1\000\000"
   VALUE "InternalName", "TXTWRITE\000"
   VALUE "LegalCopyright", "Copyright © Owen Rudge 2000-2004, Sean Young 2002. All Rights Reserved.\000\000"
   VALUE "OriginalFilename", "TXTWRITE.CNV\000"
   VALUE "ProductName", "OSPlus\000"
   VALUE "ProductVersion", OSP_VERSION_STR "\000\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252
 }
}

